= semantic_form_for(@device, :html => { :multipart => true }) do |f|
  = f.semantic_errors
  = f.inputs
  = f.input(:backup_profile_id, :as => :select, :collection => BackupProfile.all)
  = f.input(:login_profile_id, :as => :select, :collection => LoginProfile.all)
  = f.buttons
