%h1 Backup Profile list

.grid_8
  - if @backup_profiles.empty?
    %p= raw("No backup profiles have been entered yet, #{link_to('Please add a backup profile', new_backup_profile_path)}.")
  - else 
    %table
      %tr
        %td name
        - @backup_profiles.each do |backup_profile|
          %tr
            %td= link_to(backup_profile.name, backup_profile_path(backup_profile))
            %td= link_to("Edit", edit_backup_profile_path(backup_profile))
            %td= link_to("X", backup_profile_path(backup_profile), :method => :delete)
.grid_4
  = link_to("New Backup Profile", new_backup_profile_path)
