%h1 Login Profile List

.grid_8
  - if @login_profiles.empty?
    %p= raw("No Login Profiles have been entered yet, #{link_to('Please add a Login Profile', new_login_profile_path)}.")
  - else 
    %table
      %tr
        %td name
        - @login_profiles.each do |login_profile|
          %tr
            %td= link_to(login_profile.name, login_profile_path(login_profile))
            %td.text-right= link_to("Edit", edit_login_profile_path(login_profile))
            %td.text-right= link_to("Delete", login_profile_path(login_profile), :confirm => "Are you sure?", :method => :delete)
.grid_4
  = link_to("New Login Profile", new_login_profile_path)
